body {
	margin: 0;
}

/* ID */


/*Class*/

.MainMenuSection {
	height: 100vh;
	float: left;
	width: 25%;
	position: relative;
}
.MainMenuSectionMain
{
	background: blue;
	position: absolute; 
	left:0;
	right:0;
	top:0;
	bottom:0;
}
.MainMenuSectionPortfolio
{
	background: green;
	position: absolute; 
	left:0;
	right:0;
	top:0;
	bottom:0;	
}
.MainMenuSectionPrice
{
	background: grey;
	position: absolute; 
	left:0;
	right:0;
	top:0;
	bottom:0;
}
.MainMenuSectionContacts
{
	background: red;
	position: absolute; 
	left:0;
	right:0;
	top:0;
	bottom:0;
}
.MainMenuSection h2 {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 0%;
	margin: auto;
	text-align: center;	
}
