body {
	margin: 0;
}

a {
	text-decoration: none;
	color: black;
	font-family: 'Comfortaa', cursive;
}
a:hover { 
    text-decoration: none; 
    color: white; /* Ссылка белого цвета */
   } 


/* ID */


/*Class*/
/*Class components Home*/



/*Class components Container*/
.MainMenuSection {
	height: 100vh;
	float: left;
	width: 25%;
	position: relative;
}
.MainMenuSectionMain
{
	background: blue;
	position: absolute; 
	left:0;
	right:0;
	top:0;
	bottom:0;
}
.MainMenuSectionPortfolio
{
	background: green;
	position: absolute; 
	left:0;
	right:0;
	top:0;
	bottom:0;	
}
.MainMenuSectionPrice
{
	background: grey;
	position: absolute; 
	left:0;
	right:0;
	top:0;
	bottom:0;
}
.MainMenuSectionContacts
{
	background: red;
	position: absolute; 
	left:0;
	right:0;
	top:0;
	bottom:0;
}
.MainMenuSection h2 {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 0%;
	margin: auto;
	text-align: center;	
}
.webStudioLogo {
	font-size: 24px;
	padding-top: 30px;
	text-align: center;
}
/*Class components Header*/

.NavMenuHeader {
	padding: 20px 0 0 40px;
}
.Navigation {
	height: 50px;
}
.NavigationLink {
	float: left;
	text-align: center;
	display: block;
	width: 200px;
	height: 50px;
	font-size: 25px;
	line-height: 50px;	
}
.NavHome {
	background: #4D444D;
	opacity: 0.9;
}
.NavPortfolio {
	background: #4D304D;
	opacity: 0.9;
}
.NavPrice {
	background: #8A7E4D;
	opacity: 0.9;	
}
.NavContacts {
	background: #544D8A;
	opacity: 0.9;
}

/*Class components Portfolio*/

.PortfolioBG {
	background: yellow;
	height: 100vh;
}

/*Class components PortfolioUnit*/

.PortfolioUnitImg {
	margin: 0 auto;
	height: 250px;
	width: 100%;
	background: url(http://www.sppkk.ru/wp-content/uploads/2013/05/300%D1%852501.jpg);
	transition: all 1s ease-in-out;
	opacity: 1;
}
.SiteNamePreveiw {
	transition: all 1s ease-in-out;
	opacity: 1;
	color: black;
}
.PortfolioUnitBlock {
	position: relative;
	text-align: center;
	width: 300px;
	height: 300px;
	float: left;
	margin-right: 2.5%;
	margin-left: 2.5%;
	margin-top: 2.5%;
	perspective: 500px;
}
.DescriptionSite{
	position: absolute;
	width: 100%;
	opacity: 0;
	text-align: center;
}
.rotate {
	position: relative;
}
.PortfolioUnitBlock:hover .DescriptionSite{
	transition: 0.5s;
	transform: scale(2);
	opacity: 1;
}
.PortfolioUnitBlock:hover .PortfolioUnitImg{
	transform: scale(0.8);
	opacity: 0.1;
}
.PortfolioUnitBlock:hover .SiteNamePreveiw{
	transform: scale(0.5);
	opacity: 0;
}
.PortfolioUnit a:hover {
	color: black;
}
.DescriptionSite h3 {
	padding-top: 30px;
	font-size: 10px;
}
.DescriptionSite p {
	display: inline-block;
	width: 200px;
	padding-top: 10px;
	font-size: 10px;
}
/*Class components Contacts*/
.ContactsBG {
	background-color: blue;
	height: 100vh;
}
.ContactsContainer {
	position: absolute;
	background: rgba(84, 77, 138, 0.6);
	width: 30%;
	height: 150px;
	text-align: center;
	font-size: 30px;
	left: 50%;
	top: 30%;
	color: white;
}

.ContactsEmail {
	padding-top: 7%;
}
.ContactsPhone {

}

/*Class components Price*/

.table {
	font-size: 20px;
	position: absolute;
	width: 80%;
	left: 10%;
	top: 30px;
	table-layout: fixed;
}

.table tr {
	height: 50px;
}
.tdText {
	font-size: 14px;
	padding-left: 5%;
}
.tableBg {
	position: absolute;
	width: 40%;
	background: rgba(255, 188, 71, 0.3);
	left: 200px;
	top: 100px;
	height: 620px;
}